<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer">
  <div class="footer-top-area pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="single-footer footer-one">
            <h3>About</h3>
            <p>Our photo contest management application is the perfect solution for aspiring photographers looking to host online photo contests.
              With our user-friendly platform, you can easily manage contests, track participation, and engage with your audience.</p>
            <div class="footer-social-media-area">
              <nav>
                <ul>
                  <li><a th:href="@{https://www.facebook.com/TelerikAcademy}"><i class="fa fa-facebook"></i></a></li>
                  <li><a th:href="@{https://twitter.com/TelerikAcademy}"><i class="fa fa-twitter"></i></a></li>
                  <li><a th:href="@{https://bg.linkedin.com/company/telerik-academy}"><i class="fa fa-linkedin"></i></a></li>
                  <li><a th:href="@{https://www.instagram.com/telerikacademy/}"><i class="fa fa-instagram"></i></a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="single-footer footer-four margin-0">
            <h3>Alexander Gerganov</h3>
            <nav>
              <ul>
                <li><i class="fa fa-paper-plane-o"></i> Varna, Bulgaria</li><br>
                <li><i class="fa fa-phone"></i> <a>+359 878 925 100</a></li>
                <li><i class="fa fa-envelope-o"></i> <a>gerganovalexander@gmail.com</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="single-footer footer-four margin-0">
            <h3>Mariana Lenkova</h3>
            <nav>
              <ul>
                <li><i class="fa fa-paper-plane-o"></i> Sofia, Bulgaria</li><br>
                <li><i class="fa fa-phone"></i> <a>+359 892 778 635</a></li>
                <li><i class="fa fa-envelope-o"></i> <a>marianka.lenkova@gmail.com</a></li>
                <li><i></i></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12">
          <div class="single-footer footer-four margin-0">
            <h3>Tihomir Shterev</h3>
            <nav>
              <ul>
                <li><i class="fa fa-paper-plane-o"></i> Sofia, Bulgaria</li><br>
                <li><i class="fa fa-phone"></i> <a>+359 897 749 373</a></li>
                <li><i class="fa fa-envelope-o"></i> <a>tihomirshterev@gmail.com</a></li>
                <li><i></i></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>