<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>FrameFrenzy | About Us</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{images/fav.png}">
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}">
        <!-- font-awesome css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.min.css}">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/animate.css}">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/jquery-ui.min.css}">
        <!-- meanmenu css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/meanmenu.min.css}">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/owl.carousel.css}">
        <!-- lightbox css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/lightbox.min.css}">
        <!-- flipclock css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/simplyCountdown.theme.default.css}">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" th:href="@{style.css}">
        <!-- responsive css -->
        <link rel="stylesheet" type="text/css" th:href="@{css/responsive.css}">
        <!-- modernizr css -->
        <script th:src="@{js/vendor/modernizr-2.8.3.min.js}"></script>
        <!--[if lt IE 9]>
            <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
            <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
        <![endif]-->
    </head>
    <body>
        <!--Preview area start here-->
        <div class="template-preloader-rapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--End preview here -->    
        <!--Header area start here-->
        <div th:replace="~{fragments/header :: header}">Header fragment</div>
        <!--Header area end here-->

        <!-- Inner Page Header serction start here -->
        <div class="inner-page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-title">
                            <h2>About</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-locator">
                            <ul>
                                <li><a href="index.html">Home /</a> About</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Page Header serction end here -->

        <!-- Home About Start Here -->
        <div class="home-about-area pt-90 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-content">
                            <h3>About <span>Photo Contest</span></h3>
                            <p>FrameFrenzy is an online platform designed to manage photo contests.
                                The platform allows users to create and participate in various photo contests, vote for their favorite photos, and showcase their photography skills.
                                The project was developed by a team of talented developers as their final project for the Telerik Academy, a leading tech education institution in Bulgaria.</p>
                            <div class="about-content-list row">
                                <div class="single-list col-lg-12 col-md-6 col-sm-12">
                                    <div class="media">
                                        <div class="pull-left">
                                            <a href="#"><i class="fa fa-camera"></i></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a href="#">FrameFrenzy</a></h4>
                                            <p>The FrameFrenzy platform offers several key features that make it an exciting and engaging platform for photography enthusiasts. These include:</p>

                                            <ul class="bullet-list">
                                                <li>User-friendly interface: The platform has a user-friendly interface that makes it easy to navigate and use.</li>
                                                <li>Contest creation: Users can create their own photo contests and set specific rules and requirements.</li>
                                                <li>Contest participation: Users can participate in various contests by submitting their photos based on the specific contest rules.</li>
                                                <li>Voting system: The platform has a voting system that allows users to vote for their favorite photos.</li>
                                                <li>Photo gallery: The platform has a photo gallery where users can showcase their photos and view other users' photos.</li>
                                            </ul>
                                            <br>
                                            <p>Overall, the FrameFrenzy platform is a fun and innovative way to engage with the photography community and showcase your skills.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hidden-md hidden-sm wow fadeInRight" data-wow-delay="0.2s">
                        <div class="about-featured-image">
                            <a href="about.html"><img src="/static/images/about-featured.png" th:src="@{/images/about-image.jpg}" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home About End Here -->

        <!-- Home Page team start  here -->
        <div class="home-team-area about-page-team pt-90 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h2>Our <span>Team</span></h2>
                            <p>Our team is a group of talented individuals who are passionate about web development and bringing innovative solutions to real-world problems.
                                We come from diverse backgrounds and bring unique perspectives to the table, but we are united in our drive to create exceptional software that meets the needs of our users.</p>
                        </div>
                    </div>
                </div>
                <div class="row total-team" style="display: flex; justify-content: center; align-items: center;">
                    <div class="text-center">
                        <div class="single-team">
                            <div class="image">
                                <img src="/static/images/team/1.png" th:src="@{/images/team/Alex.jpg}" alt="">
                                <div class="overley">
                                    <div class="social-media-icons">
                                        <ul>
                                            <li><a href="#" th:href="@{https://www.facebook.com/alex.gerganov}"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" th:href="@{https://instagram.com/alexgerganov?igshid=ZDdkNTZiNTM=}"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#" th:href="@{https://www.linkedin.com/in/gerganovaleksandar/}"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details">
                                <h3><a href="#">Alexander Gerganov</a></h3>
                                <p>Java Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="single-team">
                            <div class="image">
                                <img src="/static/images/team/2.png" th:src="@{/images/team/Mary.jpg}" alt="">
                                <div class="overley">
                                    <div class="social-media-icons">
                                        <ul>
                                            <li><a href="#" th:href="@{https://www.facebook.com/profile.php?id=1591811445}"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" th:href="@{https://www.instagram.com/mariana_lenkova/?hl=bg}"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#" th:href="@{https://www.linkedin.com/in/mariana-lenkova-796a7511b/}"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details">
                                <h3><a href="#">Mariana Lenkova</a></h3>
                                <p>Java Developer</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <div class="single-team">
                            <div class="image">
                                <img src="/static/images/team/3.png" th:src="@{/images/team/tisho.jpg}" alt="">
                                <div class="overley">
                                    <div class="social-media-icons">
                                        <ul>
                                            <li><a href="#" th:href="@{https://www.facebook.com/tihomir.shterev}"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" th:href="@{https://www.instagram.com/shtereff}"><i class="fa fa-instagram"></i></a></li>
                                            <li><a href="#" th:href="@{https://bg.linkedin.com/in/tihomir-shterev-093158236}"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="team-details">
                                <h3><a href="#">Tihomir Shterev</a></h3>
                                <p>Java Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Home Page team end  here -->

        <!-- Footer Area Section Start Here -->
        <div th:replace="~{fragments/footer :: footer}">Footer fragment</div>
        <!-- Footer Area Section End Here -->

        <!-- jquery latest version -->
        <script th:src="@{js/vendor/jquery-1.12.0.min.js}"></script>
        <!-- bootstrap js -->
        <script th:src="@{js/bootstrap.min.js}"></script>
        <!-- owl.carousel js -->
        <script th:src="@{js/owl.carousel.min.js}"></script>
        <!-- owl.carousel js -->
        <script th:src="@{js/owl.carousel.min.js}"></script>
        <!-- meanmenu js -->
        <script th:src="@{js/jquery.meanmenu.js}"></script>
        <!-- jquery-ui js -->
        <script th:src="@{js/jquery-ui.min.js}"></script>
        <!-- wow js -->
        <script th:src="@{js/wow.min.js}"></script>
        <!-- jquery.counterup js -->
        <script th:src="@{js/jquery.counterup.min.js}"></script>
        <script th:src="@{js/waypoints.min.js}"></script>
        <!-- jquery light box -->
        <script th:src="@{js/lightbox.min.js}"></script>
        <!-- isotope.pkgd.min js -->
        <script th:src="@{js/isotope.pkgd.min.js}"></script>
        <!-- imagesloaded.pkgd.min js -->
        <script th:src="@{js/imagesloaded.pkgd.min.js}"></script>
        <!-- magnific popup -->
        <script th:src="@{js/jquery.magnific-popup.min.js}"></script>
        <!-- Counter Down js -->
        <script th:src="@{js/simplyCountdown.min.js}"></script>
        <!-- jQuery MixedIT Up -->
        <script th:src="@{js/jquery.mixitup.min.js}"></script>
        <!-- jQuery Multistep form -->
        <script th:src="@{js/multi_step_form.js}"></script>
        <!-- jquery.fancybox.pack js -->
        <script th:src="@{inc/fancybox/jquery.fancybox.pack.js}"></script>
        <!-- plugins js -->
        <script th:src="@{js/plugins.js}"></script>
        <!-- jquery weave effects -->
        <script th:src="@{js/waves.js}"></script>
        <!-- main js -->
        <script th:src="@{js/main.js}"></script>
    </body>
</html>
