<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>FrameFrenzy | Home Page</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
        <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
        <!-- bootstrap v3.3.6 css -->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
        <!-- font-awesome css -->
        <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
        <!-- animate css -->
        <link rel="stylesheet" type="text/css" href="/static/css/animate.css" th:href="@{/css/animate.css}">
        <!-- jquery-ui.min css -->
        <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
        <!-- meanmenu css -->
        <link rel="stylesheet" type="text/css" href="/static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
        <!-- owl.carousel css -->
        <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
        <!-- magnific popup css -->
        <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
        <!-- nivo slider CSS -->
        <link rel="stylesheet" type="text/css" href="/static/inc/custom-slider/css/nivo-slider.css" th:href="@{/inc/custom-slider/css/nivo-slider.css}">
        <link rel="stylesheet" type="text/css" href="/static/inc/custom-slider/css/preview.css" th:href="@{/inc/custom-slider/css/preview.css}">
        <!-- lightbox css -->
        <link rel="stylesheet" type="text/css" href="/static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
		<!-- TimeCircles css -->
        <link rel="stylesheet" type="text/css" href="/static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
        <!-- style css -->
        <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
        <!-- responsive css -->
        <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/css/responsive.css}">
        <!-- modernizr css -->
        <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
        <!--[if lt IE 9]>
            <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
            <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
        <![endif]-->
    </head>
    <body class="home">
        <!--Preview area start here-->
            <div class="template-preloader-rapper">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        <!--End preview here -->
        <!--Header area start here-->
        <header th:fragment="header">
            <div class="header-top-area hidden-sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="header-top-left" sec:authorize="isAuthenticated()">
                                <ul>
                                    <li th:text="'Hello, ' + ${#authentication.getName()}"></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="right-side-tool text-right">
                                <div class="social-media-area">
                                    <ul>
                                        <li><a th:href="@{https://www.facebook.com/TelerikAcademy}"><i class="fa fa-facebook"></i></a></li>
                                        <li><a th:href="@{https://twitter.com/TelerikAcademy}"><i class="fa fa-twitter"></i></a></li>
                                        <li><a th:href="@{https://bg.linkedin.com/company/telerik-academy}"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a th:href="@{https://www.instagram.com/telerikacademy/}"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                                <div class="header-top-right">
                                    <ul>
                                        <li sec:authorize="!isAuthenticated()"><i class="fa fa-user"></i><a href="registration.html" th:href="@{/auth/login}"
                                                                                                            th:text="#{login}">Login</a></li>
                                        <li sec:authorize="isAuthenticated()"><i class="fa fa-user"></i><a href="registration.html" th:href="@{/logout}"
                                        >Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middle-area" id="sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <div class="logo-area">
                                <a href="index.html" th:href="@{/}"><img src="/static/images/logo.png" th:src="@{/images/logo.png}" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li class="active"><a href="index.html" th:href="@{/}">Home</a>
                                        </li>
                                        <li sec:authorize="isAuthenticated()"><a href="#">Contests <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li th:if="${user != null && user.role.name == 'Organizer'}">
                                                    <a th:href="@{/contest/new}">Create a Contest</a></li>
                                                <li th:if="${user != null && user.role.name == 'Organizer'}">
                                                    <a th:href="@{/contests/phase-one}">Phase One</a></li>
                                                <li th:if="${user != null && user.role.name == 'Organizer'}">
                                                    <a th:href="@{/contests/phase-two}">Phase Two</a></li>
                                                <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                                                    <a th:href="@{/contests/phase-one}">Open Contests</a></li>
                                                <li th:if="${isCurrentUserJuror == true && user.role.name != 'Organizer'}">
                                                    <a th:href="@{/users/{userUuid}/juror-contests(userUuid=${user.getUuid()})}">Juror Contests</a></li>
                                                <li><a th:href="@{/contests/finished}">Finished</a></li>
                                                <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                                                    <a th:href="@{/users/{userUuid}/contests(userUuid=${user.getUuid()})}">My Contests</a></li>

                                            </ul>
                                        </li>
                                        <li sec:authorize="isAuthenticated()"><a th:href="@{/winners}">Winners</a>
                                        </li>
                                        <li><a th:href="@{/about}">About</a>
                                        <li th:if="${user != null && user.role.name == 'Organizer'}">
                                            <a th:href="@{/users}">Photo Junkies</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--        User profile view href-->
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12" sec:authorize="isAuthenticated()">
                            <div class="cart-area" style="margin: 0;width: 95px">
                                <a th:href="@{/users/profile(userUuid=${userDto.userUuid})}" style="padding-bottom: 5px"><i class="fa fa-user" style="display: flex;align-items: center;justify-content: center"></i></a>
                                <span th:text="${userDto.rank} + ' / ' + ${userDto.points}" style="text-align: left" ></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Menu Section Start Here -->
            <div class="mobile-menu-area">
                <div class="container">
                    <div class="mobile-logo-area">
                        <a href="index.html" th:href="@{/}"><img src="/static/images/logo.png" th:src="@{/images/logo.png}" style="width: 180px;height: 50px" alt="logo"></a>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul>
                                        <li class="active"><a href="index.html" th:href="@{/}">Home</a>
                                        </li>
                                        <li sec:authorize="isAuthenticated()"><a href="#">Contests <i class="fa fa-angle-down"></i></a>
                                            <ul>
                                                <li th:if="${user != null && user.role.name == 'Organizer'}">
                                                    <a th:href="@{/contest/new}">Create a Contest</a></li>
                                                <li th:if="${user != null && user.role.name == 'Organizer'}">
                                                    <a th:href="@{/contests/phase-one}">Phase One</a></li>
                                                <li th:if="${user != null && user.role.name == 'Organizer'}">
                                                    <a th:href="@{/contests/phase-two}">Phase Two</a></li>
                                                <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                                                    <a th:href="@{/contests/phase-one}">Open Contests</a></li>
                                                <li th:if="${isCurrentUserJuror == true && user.role.name != 'Organizer'}">
                                                    <a th:href="@{/users/{userUuid}/juror-contests(userUuid=${user.getUuid()})}">Juror Contests</a></li>
                                                <li><a th:href="@{/contests/finished}">Finished</a></li>
                                                <li th:if="${user != null && user.role.name == 'Photo Junkie'}">
                                                    <a th:href="@{/users/{userUuid}/contests(userUuid=${user.getUuid()})}">My Contests</a></li>
                                            </ul>
                                        </li>
                                        <li sec:authorize="isAuthenticated()"><a th:href="@{/winners}">Winners</a>
                                        </li>
                                        <li><a th:href="@{/about}">About</a>
                                        <li th:if="${user != null && user.role.name == 'Organizer'}">
                                            <a th:href="@{/users}">Photo Junkies</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!--Header area end here-->

        <!-- Slider Area Start Here-->
        <div class="slider-area">
            <div class="bend niceties preview-2">
                <div id="ensign-nivoslider" class="slides">
                    <img src="/static/images/slider/slide_2.jpg" th:src="@{/images/slider/jingda-chen-c2UFP0N3qf8-unsplash.jpg}" alt="" title="#slider-direction-1" />
                    <img src="/static/images/slider/slide_1.jpg" th:src="@{/images/slider/slider_1.jpg}" alt="" title="#slider-direction-2" />
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-1" class="slider-direction">
                    <div class="slider-content t-cn s-tb slider-1">
                        <div class="title-container s-tb-c">
                            <h1 class="title1"><span>FrameFrenzy</span>Platform for Photo Contests</h1>
                            <div class="title2">FrameFrenzy is a user-friendly online platform designed to simplify the process of organizing and managing photo contests with features such as submission management, public voting, and prize distribution</div>
                            <div class="slider-botton">
                                <ul>
                                    <li sec:authorize="!isAuthenticated()"><a href="registration.html" th:href="@{/auth/register}">Join Now <i class="fa fa-angle-right"></i></a></li>
                                    <li sec:authorize="isAuthenticated()"><a href="about.html" th:href="@{/contests/phase-one}">View Contests <i class="fa fa-angle-right"></i></a></li>
                                    <li class="acitve"><a th:href="@{/about}">About Us <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- direction 2 -->
                <div id="slider-direction-2" class="slider-direction">
                    <div class="slider-content t-cn s-tb slider-2">
                        <div class="title-container s-tb-c">
                            <h1 class="title1"><span>FrameFrenzy</span>Platform for Photo Contests</h1>
                            <div class="title2">FrameFrenzy is a user-friendly online platform designed to simplify the process of organizing and managing photo contests with features such as submission management, public voting, and prize distribution</div>
                            <div class="slider-botton">
                                <ul>
                                    <li sec:authorize="!isAuthenticated()"><a href="registration.html" th:href="@{/auth/register}">Join Now <i class="fa fa-angle-right"></i></a></li>
                                    <li sec:authorize="isAuthenticated()"><a th:href="@{/contests/phase-one}">View Contests <i class="fa fa-angle-right"></i></a></li>
                                    <li class="acitve"><a th:href="@{/about}">About Us <i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End Here-->

        <!-- Slider Bottom area start  here -->
        <div class="slider-bottom-area pt-100 pb-90">
            <div class="container">
                <div class="slider-bottom">
                    <div class="total-business">
                        <div class="single-business">
                            <i class="fa fa-camera-retro"></i>
                            <h3><a href="#">Create Photo</a></h3>
                            <p>To make a great photo, focus on composition, lighting, technical aspects, details, and experimentation. Create a visually interesting image with the right light, aperture, and exposure, while paying attention to the details and experimenting creatively.</p>
                        </div>
                        <div class="single-business">
                            <i class="fa fa-file-image-o"></i>
                            <h3><a href="#">Join Contest</a></h3>
                            <p>Ready to put your skills to the test and showcase your talent? Join our exciting photo contest today! Whether you're a seasoned pro or just starting out, there's no better way to challenge yourself, get noticed, and have some fun. With a variety of themes and categories to choose from, there's something for everyone. Plus, you'll have the chance to win great prizes and gain exposure for your work. So don't wait – join now and show us what you've got!</p>
                        </div>
                        <div class="single-business">
                            <i class="fa fa-camera"></i>
                            <h3><a href="#">Get Fair Judgement</a></h3>
                            <p>Our judges are some of the most experienced and respected professionals in the industry. With years of expertise in photography and a keen eye for detail, they bring a wealth of knowledge and insight to our contests. They take their role seriously and carefully evaluate each submission based on criteria such as composition, creativity, technical skill, and adherence to the theme.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Bottom area end  here -->

        <!-- Home Page About Us area start here -->
        <div class="home-about-area pt-90 pb-90">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md--12 wow fadeInLeft" data-wow-delay="0.2s">
                        <div class="about-content">
                            <h3>About <span>Photo Contest</span></h3>
                            <p>Our photo contest management application is the perfect solution for aspiring photographers looking to host online photo contests.
                                With our user-friendly platform, you can easily manage contests, track participation, and engage with your audience.
                                Whether you're a professional photographer or just starting out, our application makes hosting photo contests a breeze.</p>
                            <div class="about-content-list row">
                                <div class="single-list col-lg-12 col-md-6 col-sm-12 mb-sm-30">
                                    <div class="media">
                                        <div class="pull-left">
                                            <a><i class="fa fa-files-o"></i></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a>Participate</a></h4>
                                            <p>Participate in our photo contest and showcase your skills!
                                                Submit your best photographs and get a chance to win amazing prizes.
                                                Show off your unique perspective and let your photos speak for themselves.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="single-list col-lg-12 col-md-6 col-sm-12">
                                    <div class="media">
                                        <div class="pull-left">
                                            <a><i class="fa fa-camera"></i></a>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading"><a>Win Points</a></h4>
                                            <p>Earn points by submitting your best photos and impressing our jury of expert photographers.
                                                Each jury member will evaluate your photo based on creativity, composition, and overall impact.
                                                The higher your score, the more points you'll earn.
                                                Compete with other talented photographers and climb to the top of the leaderboard to earn recognition.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 hidden-md hidden-sm wow fadeInRight" data-wow-delay="0.2s">
                        <div class="about-featured-image">
                            <img src="/static/images/about-featured.png" th:src="@{/images/about-featured.jpg}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Photo Contests End Here -->

        <!-- Portfolio One Start Here -->
        <div class="portfolio-one-area pb-70 pt-90">
            <div class="container">
                <div class="section-title">
                    <h2>Latest <span> Winners </span></h2>
                    <p>Get inspired by our latest winners photos. </p>
                </div>
                <div class="row">
                    <div class="col-md-4" th:each="winner : ${latestWinners}" th:if="${(winnerStat.index + 1) le 3}" style="padding: 0">
                        <!-- Single portfolio item start -->
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img src="/static/images/portfolio/1.jpg" th:src="${winner.getPhoto()}" style="width: 500px;height: 400px" alt="">
                            </div>
                            <div class="overley">
                                <div class="portfolio-details">
                                    <h3><a href="#" th:text="${winner.getTitle()}">Photo Contest Image</a></h3>
                                    <ul>
                                        <li>
                                            <a href="#" th:href="@{/contest/{contestUuid}/participation/{participationUuid}(contestUuid=${winner.contest.uuid}, participationUuid=${winner.uuid})}"><i class="fa fa-eye"></i></a>
                                        </li>
                                        <li>
                                            <a class="image-popup" href="/static/images/portfolio/1.jpg" th:href="${winner.getPhoto()}"><i class="fa fa-search"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="photo-informations">
                                    <ul>
                                        <li th:text="${winner.getAppraisal()}"><i class="fa fa-thumbs-up"></i> 125</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single portfolio item end -->
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4" th:each="winner : ${latestWinners}" th:if="${(winnerStat.index + 1) gt 3 and (winnerStat.index + 1) le 6}" style="padding: 0">
                        <!-- Single portfolio item start -->
                        <div class="single-portfolio">
                            <div class="portfolio-image">
                                <img src="/static/images/portfolio/1.jpg" th:src="${winner.getPhoto()}" style="width: 500px;height: 400px" alt="">
                            </div>
                            <div class="overley">
                                <div class="portfolio-details">
                                    <h3><a href="#" th:text="${winner.getTitle()}">Photo Contest Image</a></h3>
                                    <ul>
                                        <li>
                                            <a href="#" th:href="@{/contest/{contestUuid}/participation/{participationUuid}(contestUuid=${winner.contest.uuid}, participationUuid=${winner.uuid})}"><i class="fa fa-eye"></i></a>
                                        </li>
                                        <li>
                                            <a class="image-popup" href="/static/images/portfolio/1.jpg" th:href="${winner.getPhoto()}"><i class="fa fa-search"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="photo-informations">
                                    <ul>
                                        <li th:text="${winner.getAppraisal()}"><i class="fa fa-thumbs-up"></i> 125</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Single portfolio item end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Portfolio One End Here -->

        <!-- Single Photo Contest Start Here -->
        <div class="home-single-contest gray-bg pt-90 pb-90" sec:authorize="isAuthenticated()">
            <div class="home-single single-photo-contest-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                             <div class="section-title">
                                <h2>Our Running <span>Contests</span></h2>
                                <p>Take a look at our running contests. </p>
                            </div>                   
                            <div class="about-content">
                                <h2>Running Contests</h2>
                                <ul class="home-single-slide variation">
                                    <li th:each="contest : ${contests}">
                                        <div class="item">
                                            <div class="about-image">
                                                <img src="/static/images/about/3.jpg" th:src="${contest.getCoverPhoto()}" style="width: 585px;height: 366px" alt="">
                                                <div class="overley">
                                                    <h4><a th:text="${contest.getCategory().getName()}">A way of feeling</a></h4>
                                                </div>
                                            </div>
                                            <div class="about-text">
                                                <h3><a th:href="@{/contest/single-contest (contestUuid=${contest.getUuid()})}" th:text="${contest.getTitle()}">Professional Photo Grapher Contest</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt doloremque odit, animi sapiente sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="countdown-section">
                                                    <div class="row">
                                                        <div class="col-sm-12"><div class="CountDownTimer" th:attr="data-date=${#temporals.format(contest.phaseOne, 'yyyy-MM-dd HH:mm:ss')}"></div></div>
                                                    </div>
                                                </div>
                                                <a th:href="@{/contest/single-contest (contestUuid=${contest.getUuid()})}">View Now <i class="fa fa-angle-right"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Home Page Shop Start Here -->
        <!-- Home Page Shop End Here -->

        <!-- Counter Up Section Start Here-->
        <div class="project-activation-area pt-100 pb-100">
            <div class="container">
                <div class="ab-count">
                    <div class="row">
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration=".3s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-picture-o"></i>
                                <h1 class="about-counter" th:text="${allPhotos}">10222</h1>
                                <p>Photos</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration=".7s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-heart"></i>
                                <h1 class="about-counter" th:text="${allVotes}">6000</h1>
                                <p>Rated</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration=".9s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-users"></i>
                                <h1 class="about-counter" th:text="${users}">15642</h1>
                                <p>Users</p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                        <!-- ABOUT-COUNTER-LIST START -->
                        <div class="col-lg-3 col-md-3 col-sm-12  wow fadeInUp" data-wow-duration="1.2s" data-wow-delay="300ms">
                            <div class="about-counter-list">
                                <i class="fa fa-trophy"></i>
                                <h1 class="about-counter" th:text="${finishedContests}">97</h1>
                                <p>Winners </p>
                            </div>
                        </div>
                        <!-- ABOUT-COUNTER-LIST END -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Counter Down Section End Here-->

        <!-- Footer Area Section Start Here -->
        <div th:replace="~{fragments/footer :: footer}">Footer fragment</div>
        <!-- Footer Area Section End Here -->

        <!-- jquery latest version -->
        <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
        <!-- bootstra js -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <!-- owl.carosel js -->
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- owl.carosel js -->
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- meanmenujs -->
        <script th:src="@{/js/jquery.meanmenu.js}"></script>
        <!-- jquery-u js -->
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <!-- wow js -->
        <script th:src="@{/js/wow.min.js}"></script>
        <!-- jquery.cunterup js -->
        <script th:src="@{/js/jquery.counterup.min.js}"></script>
        <script th:src="@{/js/waypoints.min.js}"></script>
        <!-- jquery lght box -->
        <script th:src="@{/js/lightbox.min.js}"></script>
        <!-- isotope.kgd.min js -->
        <script th:src="@{/js/isotope.pkgd.min.js}"></script>
        <!-- imagesloded.pkgd.min js -->
        <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
        <!-- magnificpopup -->
        <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <!-- jQuery MxedIT Up -->
        <script th:src="@{/js/jquery.mixitup.min.js}"></script>
        <!-- Counter own js -->
        <script th:src="@{/js/simplyCountdown.min.js}"></script>
        <!-- Nivo slier js -->
        <script th:src="@{/inc/custom-slider/js/jquery.nivo.slider.js}"></script>
        <script th:src="@{/inc/custom-slider/home.js}"></script>
        <!-- jQuery Mltistep form -->
        <script th:src="@{/js/multi_step_form.js}"></script>
        <!-- jquery.fncybox.pack js -->
        <script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
        <!-- plugins s -->
        <script th:src="@{/js/plugins.js}"></script>
        <!-- jquery wave effects -->
        <script th:src="@{/js/waves.js}"></script>
		<!-- TimeCirces js -->
        <script th:src="@{/js/TimeCircles.js}"></script>
        <!-- main js -->
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>