<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- meta tag -->
    <meta charset="utf-8">
    <title>FrameFrenzy | Sign In</title>
    <meta name="description" content="">
    <!-- responsive tag -->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/owl.carousel.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/lightbox.min.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
    <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js}"></script>
    <script th:src="@{https://oss.maxcdn.com/respond/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body class="registration">
<!--Preview area start here-->
<div class="template-preloader-rapper">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<!--End preview here -->
<!--Header area start here-->
<div th:replace="~{fragments/header :: header}">Header fragment</div>
<!--Header area end here-->

<!-- Inner Page Header serction start here -->
<div class="inner-page-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-title">
                    <h2 th:text="#{login}">Login</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="header-page-locator">
                    <ul>
                        <li><a href="index.html" th:href="@{/}" th:text="#{home} + ' / '">Home /</a> Login</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Inner Page Header serction end here -->

<!-- Login start Here -->
<div class="loginregistration-area pt-100 pb-100">
    <div class="container center">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-6 col-sm-12 mb-sm-30">
                <div th:if="${param.error}" class="alert alert-danger" >
                    <span th:if="${param.error.contains('bad_credentials')}"> Invalid username or password</span>
                    <span th:if="${param.error.contains('account_disabled')}"> Please verify your email to continue.</span>
                </div>
                <div th:if="${param.logout}" class="alert alert-success" th:text="#{logout.message}">
                    You have been logged out.
                </div>
                <div th:if="${param.success}" class="alert alert-success" th:text="#{registration.success}">
                    You are registered successfully!<br>
                    Please check your email to verify your account!
                </div>
                <div class="login-form">

                    <div class="login-area">
                        <h2 th:text="#{login}">Login</h2>
                        <form th:action="@{/auth/login}" method="post">
                            <fieldset>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{username}">User Name *</label>
                                        <input type="text"
                                               class="form-control"
                                               id="username"
                                               name="username"
                                               placeholder="Enter your username"
                                               autofocus>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label th:text="#{password}">Password</label>
                                        <input type="password"
                                               class="form-control"
                                               id="password"
                                               name="password"
                                               placeholder="Enter you password"
                                               aria-describedby="password">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="connected-area">
                                            <div class="checkbox">
                                                <p><a th:href="@{/forgot-password}" th:text="#{forgotten.password.message}">Forgot
                                                    your password?</a></p>
                                                <p><a href="#" th:href="@{/auth/register}"
                                                      th:text="#{register.instead.message}">Don't have an account? Sign
                                                    up
                                                    instead!</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <button class="btn-send" type="submit" th:value="#{login}">Login</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <!-- Login End Here -->

    <!-- Footer Area Section Start Here -->
    <div th:replace="~{fragments/footer :: footer}">Footer fragment</div>
    <!-- Footer Area Section End Here -->

    <!-- jquery latest version -->
    <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
    <!-- bootstrap js -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- owl.carouse js -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- owl.carouse js -->
    <script th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- meanmenu js-->
    <script th:src="@{/js/jquery.meanmenu.js}"></script>
    <!-- jquery-ui j -->
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <!-- wow js -->
    <script th:src="@{/js/wow.min.js}"></script>
    <!-- jquery.counerup js -->
    <script th:src="@{/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/js/waypoints.min.js}"></script>
    <!-- jquery ligh box -->
    <script th:src="@{/js/lightbox.min.js}"></script>
    <!-- isotope.pkg.min js -->
    <script th:src="@{/js/isotope.pkgd.min.js}"></script>
    <!-- imagesloade.pkgd.min js -->
    <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
    <!-- magnific poup -->
    <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
    <!-- jQuery MixeIT Up -->
    <script th:src="@{/js/jquery.mixitup.min.js}"></script>
    <!-- Counter Dow js -->
    <script th:src="@{/js/simplyCountdown.min.js}"></script>
    <!-- jQuery Multstep form -->
    <script th:src="@{/js/multi_step_form.js}"></script>
    <!-- jquery.fancbox.pack js -->
    <script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
    <!-- plugins js -->
    <script th:src="@{/js/plugins.js}"></script>
    <!-- jquery weav effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!-- main js -->
    <script th:src="@{/js/main.js}"></script>
</body>
</html>