<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
        <!-- meta tag -->
        <meta charset="utf-8">
        <title>FrameFrenzy | Photo Contest Phase One</title>
        <meta name="description" content="">
        <!-- responsive tag -->
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- favicon -->
    <link rel="apple-touch-icon" th:href="@{/apple-touch-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/fav.png}">
    <!-- bootstrap v3.3.6 css -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"
          th:href="@{/css/font-awesome.min.css}">
    <!-- animate css -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- jquery-ui.min css -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}">
    <!-- meanmenu css -->
    <link rel="stylesheet" type="text/css" href="/static/css/meanmenu.min.css" th:href="@{/css/meanmenu.min.css}">
    <!-- owl.carousel css -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <!-- magnific popup css -->
    <link rel="stylesheet" type="text/css" href="/static/css/magnific-popup.css" th:href="@{/css/magnific-popup.css}">
    <!-- lightbox css -->
    <link rel="stylesheet" type="text/css" href="/static/css/lightbox.min.css" th:href="@{/css/lightbox.min.css}">
    <!-- TimeCircles css -->
    <link rel="stylesheet" type="text/css" href="/static/css/TimeCircles.css" th:href="@{/css/TimeCircles.css}">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/static/style.css" th:href="@{/style.css}">
    <!-- responsive css -->
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css" th:href="@{/css/responsive.css}">
        <!-- modernizr css -->
    <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    </head>
    <body class="photocontest-list1">
        <!--Preview area start here-->
        <div class="template-preloader-rapper">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <!--End preview here -->
        <!--Header area start here-->
        <div th:replace="~{fragments/header :: header}">Header fragment></div>
        <!--Header area end here-->

        <!-- Inner Page Header serction start here -->
        <div class="inner-page-header">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-title">
                            <h2>Submission Phase</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-page-locator">
                            <ul>
                                <li><a th:href="@{/}">Home /</a> Open Contests</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Inner Page Header section end here -->

        <!-- Photo Contests Liata Start Here -->
        <div class="home-about-photo-contest-area pt-100 pb-100">
            <div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-12 mb-50" th:each="contestList : ${contest}">
						<div class="single-section">
							<div class="images">
								<img th:src="${contestList.getCoverPhoto()}" style="width: 585px;height: 366px" alt="single Images" />
							</div>
							<h3 class="headding-title" th:text="${contestList.getTitle()}">Black And White Compositions</h3>
							<ul id="meta-text">
                                <div class="date"><i class="fa fa-calendar-check-o"></i><i
                                        th:text="${#temporals.format(contestList.getDateCreated(),'dd-MM-yyyy HH:mm')}">06 May,
                                    2017</i> &nbsp;
                                    <i class="fa fa-calendar-times-o" aria-hidden="true"></i><a
                                            th:text="${#temporals.format(contestList.getPhaseOne(),'dd-MM-yyyy HH:mm')}">06 May,
                                        2017</a></div>
							</ul>
							<div class="countdown-section">
								<div class="row">
									<div class="col-sm-11">
                                        <div class="CountDownTimer"
                                             th:attr="data-date=${#temporals.format(contestList.getPhaseOne(), 'yyyy-MM-dd HH:mm:ss')}"></div>
                                    </div>
								</div>
							</div>
							<p class="des" th:text="${contestList.getCategory().getName()}">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
							<div class="link-section">
								<a th:href="@{/contest/single-contest (contestUuid=${contestList.getUuid()})}" class="read-btn primary-btn mr-10">Read More</a>

								<a th:unless="${contestList.getCreatedBy().getUsername().equals(user.getUsername()) || user.role.name == 'Organizer'}"
                                   th:href="@{/contest/{contestUuid}/upload (contestUuid=${contestList.getUuid()})}" class="joni-btn primary-btn">join now</a>
							</div>
						</div>
					</div>

				</div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <div class="pagination-area">
                    <ul>
                        <li th:unless="${contest.first == true}">
                            <a th:href="@{/contests/phase-one(page=${contest.number - 1})}" aria-label="Previous">
                                <i aria-hidden="true" class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <th:block th:if="${contest.totalPages > 1}">
                            <th:block th:each="page : ${#numbers.sequence(0, contest.totalPages - 1)}">
                                <li th:class="${page == contest.number} ? active : ''">
                                    <a th:href="@{/contests/phase-one(page=${page})}" th:text="${page + 1}"></a>
                                </li>
                            </th:block>
                        </th:block>
                        <li th:unless="${contest.last == true}">
                            <a th:href="@{/contests/phase-one(page=${contest.number + 1})}" aria-label="Next">
                                <i aria-hidden="true" class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br><br>
        <!-- About Photo Contests End Here -->

        <!-- Counter Up Section Start Here-->
        <div th:replace="~{fragments/rules :: rules}">Rules fragment</div>
        <!-- Counter Down Section End Here-->

        <!-- Footer Area Section Start Here -->
        <div th:replace="~{fragments/footer :: footer}">Footer fragment</div>
        <!-- Footer Area Section End Here -->

        <!-- jquery latest version -->
        <script th:src="@{/js/vendor/jquery-1.12.0.min.js}"></script>
        <!-- bootstra js -->
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <!-- owl.carosel js -->
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- owl.carosel js -->
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- meanmenujs -->
        <script th:src="@{/js/jquery.meanmenu.js}"></script>
        <!-- jquery-u js -->
        <script th:src="@{/js/jquery-ui.min.js}"></script>
        <!-- wow js -->
        <script th:src="@{/js/wow.min.js}"></script>
        <!-- jquery.counterup js -->
        <script th:src="@{/js/jquery.counterup.min.js}"></script>
        <script th:src="@{/js/waypoints.min.js}"></script>
        <!-- jquery lght box -->
        <script th:src="@{/js/lightbox.min.js}"></script>
        <!-- isotope.kgd.min js -->
        <script th:src="@{/js/isotope.pkgd.min.js}"></script>
        <!-- imagesloded.pkgd.min js -->
        <script th:src="@{/js/imagesloaded.pkgd.min.js}"></script>
        <!-- magnificpopup -->
        <script th:src="@{/js/jquery.magnific-popup.min.js}"></script>
        <!-- jQuery MxedIT Up -->
        <script th:src="@{/js/jquery.mixitup.min.js}"></script>
        <!-- Counter own js -->
        <script th:src="@{/js/simplyCountdown.min.js}"></script>
        <!-- jQuery Multistep form -->
        <script th:src="@{/js/multi_step_form.js}"></script>
        <!-- jquery.fncybox.pack js -->
        <script th:src="@{/inc/fancybox/jquery.fancybox.pack.js}"></script>
        <!-- plugins s -->
        <script th:src="@{/js/plugins.js}"></script>
        <!-- jquery wave effects -->
        <script th:src="@{/js/waves.js}"></script>
        <!-- TimeCirces js -->
        <script th:src="@{/js/TimeCircles.js}"></script>
        <!-- main js -->
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>